{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}

  <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <div class="container custom-container-width">
        <b>{{ _('Hi, %(username)s', username=current_user.username) }}
        </b> here's what's trending today<br>
        <div class="row">
            <div class="col">
                {% for signle_products in productsout1 %}
                    <a href="{{ signle_products.URL}}" style="color:black;">
                        <div class="card" style="width: 350px ;height: 200px; display: inline-block">
                            <img class="card-img-top" src="{{signle_products.PURL}}" alt="Card image cap">
                            <div class="card-body">
                                    <h5 class="card-title">{{signle_products.PN}}</h5>
                                <p class="card-text">
                                    {{ signle_products.loc}}<br>
                                    <S>${{signle_products.Price}}</S> &nbsp; <b><font color="green">${{ signle_products.UPPrice }}<font size="1">
                                    {{  ((signle_products.UPPrice - signle_products.Price)/signle_products.Price *100)|round(0)}}%OFF</font></font></b><br>
                                    {{ signle_products.Intro}}
                                </p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    {% for signle_products in productsout2 %}
                    <a href="{{ signle_products.URL}}" style="color:black;">
                        <div class="card" style="width: 350px ;height: 200px; display: inline-block">
                            <img class="card-img-top" src="{{signle_products.PURL}}" alt="Card image cap">
                            <div class="card-body">
                                    <h5 class="card-title">{{signle_products.PN}}</h5>
                                <p class="card-text">
                                    {{ signle_products.loc}}<br>
                                    <S>${{signle_products.Price}}</S> &nbsp; <b><font color="green">${{ signle_products.UPPrice }}<font size="1">
                                    {{  ((signle_products.UPPrice - signle_products.Price)/signle_products.Price *100)|round(0)}}%OFF</font></font></b><br>
                                    {{ signle_products.Intro}}
                                </p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    {% for signle_products in productsout3 %}
                    <a href="{{ signle_products.URL}}" style="color:black;">
                        <div class="card" style="width: 350px ;height: 200px; display: inline-block">
                            <img class="card-img-top" src="{{signle_products.PURL}}" alt="Card image cap">
                            <div class="card-body">
                                    <h5 class="card-title">{{signle_products.PN}}</h5>
                                <p class="card-text">
                                    {{ signle_products.loc}}<br>
                                    <S>${{signle_products.Price}}</S> &nbsp; <b><font color="green">${{ signle_products.UPPrice }}<font size="1">
                                   {{  ((signle_products.UPPrice - signle_products.Price)/signle_products.Price *100)|round(0)}}%OFF</font></font></b><br>
                                    {{ signle_products.Intro}}
                                </p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
            </div>
        </div>
    </div>

    <div class="container col-12" style="height: 20px"></div>
    <div class="container custom-container-width">
        <div class="row">
            <div class="col">
                <table>
                    POPULAR THINGS NEARBY
                    <hr size="1" noshade="noshade" style="border:1px #000000 dotted;" width="100%">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    Beauty & Spas
                                </tr>
                                <td>
                                    <a href="/local/massage" data-bhc="path:/local/massage" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/massage">Massages</a>
                                    <br>
                                    <a href="/local/laser-hair-removal" data-bhc="path:/local/laser-hair-removal" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/laser-hair-removal">Laser Hair removal</a>
                                    <br>
                                    <a href="/local/nail-salons" data-bhc="path:/local/nail-salons" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/nail-salons">Nail Salons</a>
                                    <br>
                                    <a href="/local/nail-salons" data-bhc="path:/local/nail-salons" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/nail-salons">Botox Injections</a>
                                    <br>
                                    <a href="/local/tattoo" data-bhc="path:/local/tattoo" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/tattoo">Tattoo Parlors</a>
                                    <br>
                                    <a href="/local/salons" data-bhc="path:/local/salons" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/salons">Salons</a>
                                    <br>
                                    <a href="/local/barber-shop" data-bhc="path:/local/barber-shop" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/barber-shop">Barber Shops</a>
                                </td>
                                <svg viewbox="0 0 0 0" width="150" height="0"></svg>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    Food & Drink
                                </tr>
                                <td>
                                    <a href="/local/restaurants" data-bhc="path:/local/restaurants" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/restaurants">Restaurants</a>
                                    <br>
                                    <a href="/local/chinese-restaurants" data-bhc="path:/local/chinese-restaurants" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/chinese-restaurants">Chinese Food</a>
                                    <br>
                                    <a href="/local/indian-restaurants" data-bhc="path:/local/indian-restaurants" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/indian-restaurants">Indian Restaurants</a>
                                    <br>
                                    <a href="/local/sushi" data-bhc="path:/local/sushi" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/sushi">Sushi</a>
                                    <br>
                                    <a href="/local/pizza-near-me" data-bhc="path:/local/pizza-near-me" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/pizza-near-me">Pizza</a>
                                    <br>
                                    <a href="/local/steakhouse-restaurants" data-bhc="path:/local/steakhouse-restaurants" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/steakhouse-restaurants">Steakhouse</a>
                                    <br>
                                    <a href="/local/bars" data-bhc="path:/local/bars" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/bars">Bars &amp; Pubs</a>
                                </td>
                                <svg viewbox="0 0 0 0" width="150" height="0"></svg>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    Things To Do
                                </tr>
                                <td>
                                    <a href="/local/things-to-do" data-bhc="path:/local/things-to-do" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/things-to-do">Things To Do</a>
                                    <br>
                                    <a href="/local/bowling" data-bhc="path:/local/bowling" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/bowling">Bowling</a>
                                    <br>
                                    <a href="/local/trampoline-and-bounce-house" data-bhc="path:/local/trampoline-and-bounce-house" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/trampoline-and-bounce-house">Trampoline Parks</a>
                                    <br>
                                    <a href="/local/escape-games" data-bhc="path:/local/escape-games" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/escape-games">Escape Rooms</a>
                                    <br>
                                    <a href="/local/movies" data-bhc="path:/local/movies" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/movies">Movie Theaters</a>
                                    <br>
                                    <a href="/local/kids-activities" data-bhc="path:/local/kids-activities" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/kids-activities">Kids Activities</a>
                                    <br>
                                    <a href="/local/breweries-wineries-and-distilleries" data-bhc="path:/local/breweries-wineries-and-distilleries" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/breweries-wineries-and-distilleries">Beer &amp; Wine Tasting Tours</a>
                                </td>
                                <svg viewbox="0 0 0 0" width="150" height="0"></svg>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    Health & Fitness
                                </tr>
                                <td>
                                    <a href="/local/chiropractor" data-bhc="path:/local/chiropractor" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/chiropractor">Chiropractors</a>
                                    <br>
                                    <a href="/local/golf" data-bhc="path:/local/golf" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/golf">Golf Courses</a>
                                    <br>
                                    <a href="/local/gyms" data-bhc="path:/local/gyms" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/gyms">Gyms &amp; Fintess Centers</a>
                                    <br>
                                    <a href="/local/dentist" data-bhc="path:/local/dentist" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/dentist">Dentists</a>
                                    <br>
                                    <a href="/local/dermatologist" data-bhc="path:/local/dermatologist" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/dermatologist">Dermatologist</a>
                                    <br>
                                    <a href="/local/weight-loss" data-bhc="path:/local/weight-loss" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/weight-loss">Weight Loss</a>
                                    <br>
                                    <a href="/local/yoga" data-bhc="path:/local/yoga" data-bhc-path="FooterLinks|linkType:BrowseLocations|path:/local/yoga">Yoga</a>
                                </td>
                                <svg viewbox="0 0 0 0" width="150" height="0"></svg>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    Automotive
                                </tr>
                                <td>
                                    <a href="/local/oil-change" data-bhc="path:/local/oil-change">Oil Change</a>
                                    <br>
                                    <a href="/local/car-wash" data-bhc="path:/local/car-wash">Car Wash</a>
                                    <br>
                                    <a href="/local/car-rental" data-bhc="path:/local/car-rental">Car Rental</a>
                                    <br>
                                    <a href="/local/auto-repair-services" data-bhc="path:/local/auto-repair-services">Vehicle Repair Services</a>
                                    <br>
                                    <a href="/local/tires" data-bhc="path:/local/tires">Tires Repair</a>
                                    <br>
                                    <a href="/local/windshield-windows" data-bhc="path:/local/windshield-windows">Windshield Repair</a>
                                    <br>
                                    <a href="/local/parking" data-bhc="path:/local/parking">Parking</a>
                                </td>
                                <svg viewbox="0 0 0 0" width="150" height="0"></svg>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="container col-12" style="height: 80px"></div>
    <div class="container custom-container-width">
        <div class="row">
            <div class="col">
                <table>
                    COUPONS & PROMO CODES FOR YOUR FAVORITE BRANDS
                    <hr size="1" noshade="noshade" style="border:1px #000000 dotted;" width="100%">
                    <tr>
                        <td>
                            <table>
                                <td>
                                   <a href="/coupons/amazon" data-bhc="path:/coupons/amazon" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/amazon">Amazon Promo Codes</a><svg viewbox="0 0 0 0" width="30" height="0"></svg>
                                    <br>
                                    <a href="/coupons/tj-maxx" data-bhc="path:/coupons/tj-maxx" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/tj-maxx">TJ Maxx Coupons</a>
                                    <br>
                                    <a href="/coupons/the-home-depot" data-bhc="path:/coupons/the-home-depot" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/the-home-depot">Home Depot Coupons</a>
                                    <br>
                                    <a href="/coupons/forever-21" data-bhc="path:/coupons/forever-21" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/forever-21">Forever 21 Coupons</a>
                                    <br>
                                    <a href="/coupons/llbean" data-bhc="path:/coupons/llbean" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/llbean">L.L.Bean Coupons</a>
                                    <br>
                                    <a href="/coupons/hr-block" data-bhc="path:/coupons/hr-block" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/hr-block">H&amp;R Block Coupons</a>
                                </td>
                            </table>
                        </td>
                        <td>
                            <table>
                                <td>
                                    <a href="/coupons/walmart" data-bhc="path:/coupons/walmart" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/walmart">Walmart Coupons</a><svg viewbox="0 0 0 0" width="100" height="0"></svg>
                                    <br>
                                    <a href="/coupons/ebay" data-bhc="path:/coupons/ebay" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/ebay">eBay Coupons</a>
                                    <br>
                                    <a href="/coupons/lowes" data-bhc="path:/coupons/lowes" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/lowes">Lowe's Coupons</a>
                                    <br>
                                    <a href="/coupons/verizon-wireless" data-bhc="path:/coupons/verizon-wireless" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/verizon-wireless">Verizon Wireless Promo Codes</a>
                                    <br>
                                    <a href="/coupons/edible-arrangements" data-bhc="path:/coupons/edible-arrangements" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/edible-arrangements">Edible Arrangements Coupons</a>
                                    <br>
                                    <a href="/coupons/turbotax" data-bhc="path:/coupons/turbotax" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/turbotax">Turbotax Service Codes</a>
                                </td>
                            </table>
                        </td>
                        <td>
                            <table>
                                <td>
                                    <a href="/coupons/target" data-bhc="path:/coupons/target" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/target">Target Coupons</a><svg viewbox="0 0 0 0" width="100" height="0"></svg>
                                    <br>
                                    <a href="/coupons/bed-bath-and-beyond" data-bhc="path:/coupons/bed-bath-and-beyond" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/bed-bath-and-beyond">Bed Bath &amp; Beyond Coupons</a>
                                    <br>
                                    <a href="/coupons/michaels" data-bhc="path:/coupons/michaels" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/michaels">Michaels Coupons</a>
                                    <br>
                                    <a href="/coupons/adidas" data-bhc="path:/coupons/adidas" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/adidas">Adidas Promo Codes</a>
                                    <br>
                                    <a href="/coupons/weightwatchers" data-bhc="path:/coupons/weightwatchers" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/weightwatchers">Weight Watchers Coupons</a>
                                    <br>
                                    <a href="/coupons/quickbooks" data-bhc="path:/coupons/quickbooks" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/quickbooks">Quickbooks Coupons</a>
                                </td>
                            </table>
                        </td>
                        <td>
                            <table>
                                <td>
                                    <a href="/coupons/macys" data-bhc="path:/coupons/macys" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/macys">Macy's Coupons</a><svg viewbox="0 0 0 0" width="100" height="0"></svg>
                                    <br>
                                    <a href="/coupons/american-eagle-outfitters" data-bhc="path:/coupons/american-eagle-outfitters" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/american-eagle-outfitters">American Eagle Promo Codes</a>
                                    <br>
                                    <a href="/coupons/zales" data-bhc="path:/coupons/zales" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/zales">Zales Promo Codes</a>
                                    <br>
                                    <a href="/coupons/asos" data-bhc="path:/coupons/asos" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/asos">ASOS Promo Codes</a>
                                    <br>
                                    <a href="/coupons/sephora" data-bhc="path:/coupons/sephora" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/sephora">Sephora Coupons</a>
                                    <br>
                                    <a href="/coupons/udemy" data-bhc="path:/coupons/udemy" data-bhc-path="FooterLinks|linkType:BrowseCoupons|path:/coupons/udemy">Udemy Coupons</a>
                                </td>
                            </table>
                        </td>
                        <td>
                            <table>
                                <td>
                                    <a href="/coupons/kohls" data-bhc="path:/coupons/kohls">Kohl's Coupons</a>
                                    <br>
                                    <a href="/coupons/old-navy" data-bhc="path:/coupons/old-navy">Old Navy Coupons</a>
                                    <br>
                                    <a href="/coupons/1800-flowers" data-bhc="path:/coupons/1800-flowers">1-800-Flowers Coupons</a>
                                    <br>
                                    <a href="/coupons/boohoo" data-bhc="path:/coupons/boohoo">Boohoo Promo Codes</a>
                                    <br>
                                    <a href="/coupons/ancestry" data-bhc="path:/coupons/ancestry">Ancestry DNA Coupons</a>
                                    <br>
                                    <a href="/coupons/samsung" data-bhc="path:/coupons/samsung">Samsung Coupons</a>
                                </td>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="container col-12" style="height: 40px"></div>
    <hr>
    <div class="container col-12" style="height: 20px"></div>

{% endblock %}
